body{
    background-color: #d8c5c5;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}
.form-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
